/*added h1 from Git*/
h1 {
  font-size: 30px;
}

/*added h2 from GitHub*/
h2 {
  font-size: 35px;
}

/*added h3 from GitHub*/
h3 {
  font-size: 40px;
}
/*added h4 from Git*/
h4 {
  font-size: 45px;
}

/*added h5 from Git*/
h5 {
  font-size: 50px;
}

