h1 {
  font-size: 30px;
}

/*from GitHub*/
h2 {
  font-size: 35px;
}

h3 {
  font-size: 40px;
}

/*from GitHub*/
h4 {
  font-size: 45px;
}

h5 {
  font-size: 50px;
}

/*from GitHub*/
h8 {
  font-size: 60px;
}

/*from GitHub*/
h9 {
  font-size: 60px;
}

